<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:f="http://java.sun.com/jsf/core"  
      xmlns:jsf="http://xmlns.jcp.org/jsf"
      >
	<head>
	  <title>Edit Item</title>
	  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous"/>
	  
	  <style>
		  .error{
		  color:red;
		  }
	  </style>
	</head>
	
	<body>
		<center>
			<h2> Edit Item</h2>
		</center>	
			<h:form class="form-horizontal">
				<div class="form-group">
					<div class="mb-3 row"> 
						<h:message for="title" styleClass="error"/>  
						<label style="text-align: center"  for="title" class="col-sm-2 col-form-label" >Title</label>
				   		<div class="col-sm-3">
				      		<h:inputText id="title" class="form-control" value="#{editItem.title}" label="Title"  required="true" />  
				    	</div>
					</div>
				</div>
					
				<div class="form-group">
					<div class="mb-3 row"> 
						<h:message for="description" styleClass="error"/>
						<label style="text-align: center"  for="description" class="col-sm-2 col-form-label">Description</label>
				   		<div class="col-sm-8">
				      		<h:inputText id="description" class="form-control" value="#{editItem.description}" label="Description"  />  
				    	</div>
					</div>
				</div>	
				
				<div class="form-group">
					<div class="mb-3 row"> 
						<h:message for="dueDate" styleClass="error"/>
						<label style="text-align: center"  for="dueDate" class="col-sm-2 col-form-label">Due Date</label>
				   		<div class="col-sm-3">
				      		<h:inputText id="dueDate" a:placeholder="dd-mm-yyyy" class="form-control" value="#{editItem.dueDate}" label="Due date"  required="true" >
				      			<f:convertDateTime pattern="dd-mm-yyyy"/>  
				      		</h:inputText>
				      		  
				    	</div>
					</div>
				</div>
				<div class="form-group">
					<div class="mb-3 row"> 
						
						<label style="text-align: center" class="col-sm-2 col-form-label">Priority</label>
				   		<div class="col-sm-3">
					   		<h:selectOneMenu class="form-control" value="#{editItem.priority}">
								<f:selectItems  value="#{editItem.priorityOptions}" />
							</h:selectOneMenu>
				      	</div>
					</div>
				</div>
				
				<center>
					<button  class="btn btn-primary" type="submit" jsf:action="#{editItem.update(editItem)}"  > Save changes</button>
				</center>
				
			</h:form>
		
	</body>

</html>
