<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:f="http://java.sun.com/jsf/core"  
      xmlns:jsf="http://xmlns.jcp.org/jsf">
	<head>
	  <title><ui:insert name="title">Error</ui:insert></title>
	</head>
	
	<body>
		
		<h1> Could not complete action!!</h1>
		
		<ui:repeat var="error" value="#{errorMessages.errorMessages}">
	
			<p style="color:Red">#{error}</p>

		</ui:repeat>
	
	</body>

</html>
