<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:f="http://java.sun.com/jsf/core"  
      xmlns:jsf="http://xmlns.jcp.org/jsf">
	<head>
	  <title>Tasks Manager</title>
	  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous"/>
	  
	  <style type="text/css">  
	  
			table {  
			border-collapse: collapse;  
			width: 100%;  
			}  
			th, td {  
			text-align: left;  
			padding: 8px;  
			}  
			  
			tr:nth-child(even){background-color: #f2f2f2}  
			th {  
			background-color: #4CAF50;  
			color: white;  
			}  
		</style>  
	</head>
	
	<body>
		<h:form>
			<center><h2> TO-DO-LIST</h2></center>
			<h:dataTable binding="#{table}" var="item" value="#{toDoList.toDoList}"
			class="table table-striped table-hover table-bordered">  
				<h:column>  
					<f:facet name="header">ID</f:facet>  
					<h:outputText value="#{table.rowIndex + 1}"/>  
				</h:column>  
				<h:column>  
					<f:facet name="header">Title</f:facet>  
					<h:outputText value="#{item.title}"/>  
				</h:column>  
				<h:column>  
					<f:facet name="header">Description</f:facet>  
					<h:outputText value="#{item.description}"/>  
				</h:column>  
				<h:column>  
					<f:facet name="header">Due Date</f:facet>  
					<h:outputText value="#{item.dueDate}"/>  
				</h:column>  
				<h:column>  
					<f:facet name="header">Priority</f:facet>  
					<h:outputText value="#{item.priority}"/>  
				</h:column>  
				<h:column>  
					<f:facet name="header">Done</f:facet>  
					<h:commandButton action = "#{item.markAsDone(item.id)}" value="Done" class="btn btn-success btn-sm"> </h:commandButton>  
				</h:column> 
				<h:column>  
					<f:facet name="header">Update</f:facet>  
					<h:commandButton action = "#{item.edit(item)}" value="Update" class="btn btn-primary btn-sm"> </h:commandButton>  
				</h:column>  
				<h:column>  
					<f:facet name="header">Delete</f:facet>  
					<h:commandButton action = "#{item.delete(item.id)}" value="Delete" class="btn btn-danger btn-sm"></h:commandButton>  
				</h:column>  
			</h:dataTable>
			
			<center><h:button value="Add new item" class="btn btn-primary" outcome="create"> </h:button> </center>
			
			<hr></hr>
			<center><h2> DONE</h2></center>
				
			<h:dataTable binding="#{table2}" var="item" value="#{toDoList.completed}"
			class="table table-striped table-hover table-bordered">  
				<h:column>  
					<f:facet name="header">ID</f:facet>  
					<h:outputText value="#{table2.rowIndex + 1}"/>  
				</h:column>  
				<h:column>  
					<f:facet name="header">Title</f:facet>  
					<h:outputText value="#{item.title}"/>  
				</h:column>  
				<h:column>  
					<f:facet name="header">Description</f:facet>  
					<h:outputText value="#{item.description}"/>  
				</h:column>  
				<h:column>  
					<f:facet name="header">Due Date</f:facet>  
					<h:outputText value="#{item.dueDate}"/>  
				</h:column>  
				<h:column>  
					<f:facet name="header">Priority</f:facet>  
					<h:outputText value="#{item.priority}"/>  
				</h:column>  
			
			</h:dataTable>
		</h:form>
	</body>

</html>
